* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.data-table tr:nth-child(even){background-color: #f2f2f2;}

.data-table tr:hover {background-color: #ddd;}

.data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #380036;
  color: white;
}

.data-table td, .data-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.map-container {
  margin: 100px 0px;
  box-shadow: -1px 4px 56px 11px;
}

@media screen and (max-width: 960px) {
  .map-container {
    width: auto;
    height:  auto;
  }
}
