.switch_container {
    display: flex;
    width: 100%;
}

.buttonActive {
    flex: 1;
    background-color: rgb(110, 110, 110);
    padding: 10px 0px;;
}

.buttonInactive {
    flex: 1;
    background-color: rgb(170, 170, 170);
    padding: 10px 0px;}

.text {
    color: white;
}