.form_wrap {
    padding: 1rem;
    font-size: 3rem;
}

.search_btn {
    padding: 15px 20px;
}

.form_input {
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    outline: none;
}

.searchWrapper {
    margin: 100px 0px;
    padding: 0;
    display: inline-flex;    
}
