.navbar {
  background: linear-gradient(to right, #242222, #380036);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: -1px 4px 56px 11px;
}

.water_wrap{
  background: black;
  padding: 30px;
}

.navLogo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  text-shadow: 2px 2px gray;
}

.navItems {
  display: flex;
  align-items: center;
  height: 80px;
}
.navLinks {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  z-index: 1;
  outline:  none;
}
.navLinks:hover {
  background-color: #0cbaba;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

/* .bars {
  color: #fff;
} */

.navMobile {
  display: none;
}
  
.menuIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    height: 20vh;
    width: 100%;
  }

  .navItems {
    position: relative;
  }

  .navLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navLinks:hover {
    background-color: #0cbaba;
    border-radius: 0;
  }

  .navLogo {
    display: contents;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .navMobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #0cbaba;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .navMobile:hover {
    background: #fff;
    color: #0cbaba;
    transition: 250ms;
  }
  .caretDown {
    display: none;
  }
}
