.search_input {
    color: darkslatedgray;
    outline: none;
    width: 600px;
    padding: 10px;
    border-radius: 6px;
}

.search_btn {
    position: inherit;
    padding: 10px;
    outline: none;
    width: 100px;
    border: 1px solid black;
    border-radius: 6px;
    height:  42px;
    background: transparent;
    z-index: 1;
}
.searchWrapper {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left:0;
    margin-right:0;
    padding: 0;
    
}
