.container {
    display: inline-flex;
    width: 200px;
}

.buttonActive {
    flex: 1;
    background-color: rgb(110, 110, 110);
}

.buttonInactive {
    flex: 1;
    background-color: rgb(170, 170, 170);
}

.text {
    color: white;
}
