/* alert page css */
#alertForm {
    position: relative;
    margin: 100px auto;
}

#alertForm .alertContainer {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#alertForm .alertInput {
    padding-left: 48px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    outline: none;
    font-size: 1.8rem;
    border: 5px solid transparent;
    color: #f2f2f2;
}