/* alert page css */
#form {
    position: relative;
    margin: 100px auto;
    border:1px solid #dfff00;
}

#container h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 10px;
}

.input {
    max-width: 30rem;
    height: 6rem;
    margin: 40px 0;
    border: 1px solid transparent;
    font-size: 16px;
    padding: 0 5%;
    color: #f2f2f2;
    background: #1d2732;
}

#container {
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin:5px 0;
}

.btn {
    border: none;
    z-index: 1;
    cursor: pointer;
    background: #dfff00;
    padding: 15px 25px;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 40px 0;
}